h1{
	text-align:center;
}
.table{
	background-color:#BF0A0A;
	color:white;
	border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 150px; 
}
.modal_primary{
	text-align:center;
	
}
nav.navbar.navbar-default {
	background-color:white;
}
nav.navbar.navbar-default li a{
	color:#bf0a0a;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.navbar-brand {
    color: red;
}

.navbar-default .navbar-brand {
     color: red;
}

a.navbar-brand{
	color:red;
}
.navbar-default.navbar-brand{
	color:red;
}
