container{
	border: 2px solid #accddb;
	border-radius: 25px;
	padding-bottom:10px;
	padding-top:10px;
	margin-top:55px;
	margin-bottom:40px;
}

#btn{
	text-align:center;
	padding:20px;
}
h1{
	text-align:center;
}

nav.navbar.navbar-default {
	background-color:white;
}

nav.navbar.navbar-default li a{
	color:#bf0a0a;
}